/* Centers all page content*/
.App {
  text-align: center;
}

/* Formats header */
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#3b522f;
}


.plant-image {
  border: 4px solid #3b522f;   /* Makes green border */
  border-radius: 15px;       /* Makes rounded corners */
  
/*To ensure images keep aspect ratio*/
  height: auto;

}

.plant-tile {
  margin: 10px; /* Makes space between images/tiles */
}


.large-plant-image {
  width: 300px; /* Sets image size */
}

/* Formates header title */
h2 {
  color: #3b522f;
  font-size: 24px;
  margin-bottom: 15px;
}

/* Makes labels bold and aligned */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #3b522f;
  text-align: left;
}

/* Sets select box width*/
select{
  width: 267px; /* Make inputs shorter */
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* Sets input box width*/
input{
  width: 138%; /* Make inputs shorter */
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Makes back button position in top left */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Formats button */
button {
  margin-top: 15px;
  background-color: #3b522f;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


/* Formats back button */
.back-button button {
  background-color: white;
  color: #3b522f;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #3b522f;   /* Makes green border */
}


